*{
    margin: 0;
    padding: 0;
}
.page{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4), url(backimage.jpg));
    background-position: center;
    background-size: cover;
    position: absolute;
}
.form-box{
    width: 350px;
    height: 380px;
    position: relative;
    margin: 6% auto;
    background: rgb(255, 255, 255);
    padding: 5px;
    overflow: hidden;
}
h1{
    text-align: center;
    font-family:DM Sans;
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.input-field{
    width: 80%;
    padding: 10px 20px;
    margin: 20px 10px;
    border: 1px solid #607d8b;
    outline: none;
    background: transparent;
    border-radius: 0px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #607d8b; 
}
.inputWithIcon input[type=text]{
    padding-left: 40px;
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon i{
    position: absolute;
    left: 10px;
    top: 22px;
    padding: 9px 8px;
}
.submit-btn{
    width: 85%;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 30px 10px 10px 30px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submit-btn:hover{
    box-shadow: inset 300px 0 0 0 rgb(240, 131, 67);
    cursor: pointer;
    color: #000;
}
form p{
    text-align: center;
    font-size: small;
    color: #607d8b;
}