@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

section{
    position: relative;
    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header{
    position: relative;
    top: 0;
    /* width: 100%; */
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content{
  padding-top: 3rem;  
}

.content .info h1{
    color:white;
    font-size:48px;
    margin-top: 48px;
    /* text-align: left; */
    text-transform:uppercase;
    font-weight:640;
    letter-spacing:2px;
    line-height: 60px;
    margin-bottom: 8px;
}
.content .info h1 span{
    color:black;
    /* align-items: flex-start; */
    /* align-content: flex-start; */
    font-size: 50px;
} 

.content .info h3{
    text-align: center;
    color:white;
    font-size:20px;
    text-transform:none;
    font-weight:400;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 48px;
}

.content .start-btn
{
    margin-top: 100px;
    color:#fff;
    background:darkblue;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
    transition-property:all;   
}
.content .start-btn:hover{
    background: black;
}

.media-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: 0.3s;
    transition-property: transform;
}

.media-icons a{
    position:relative;
    color:#fff;
    font-size: 32px;
}
.media-icons a:not(:last-child)
{
    margin-right: 32px;
}
.media-icons a:hover{
    transform: scale(1.5);
}

.rmod{
  margin: 1rem 2rem;
  padding: 3rem 0rem;
}
.holder{
  background-color: #003c8f;
  height: 14rem;
  padding: 1rem;
  margin: 1rem 0rem;
  border-radius: 10px;
}

.holder a{
   text-decoration: none;
   color: #fff;
}































